.App {
  text-align: center; }

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #38388b;
  color: white; }

.nav-links {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.link {
  color: white;
  text-decoration: none; }

.link:hover {
  color: #f3da4e;
  text-decoration: underline; }

.button {
  background-color: #f3da4e; }

.button:hover {
  background-color: #38388b;
  /* Blue */
  color: white;
  cursor: pointer; }
